RewriteEngine On
#ErrorDocument 404 /noPage.php

RewriteRule ^home$ index.php?id=1

RewriteRule ^quienes-somos$ index.php?id=1320

RewriteRule ^proyectos-en-venta$ index.php?id=1322

RewriteRule ^postventa$ index.php?id=1327

RewriteRule ^que-hacemos$ index.php?id=1331

RewriteRule ^mar-adentro-cartagena$ index.php?id=1349

RewriteRule ^ciudadela-nio-neiva$ index.php?id=1351

RewriteRule ^tour-virtual$ index.php?id=1356

RewriteRule ^renders$ index.php?id=1363

RewriteRule ^torre-1:-seguimos-creciendo$ index.php?id=1397

RewriteRule ^mar-adentro-una-revolucion-urbanistica-en-colombia-mar-adentro-el-mas-exclusivo-estilo-de-vida-del-pais$ index.php?id=1317&visitada=1392
RewriteRule ^trabaja-con-nosotros$ index.php?id=1321

RewriteRule ^proximos-lanzamientos$ index.php?id=1326

RewriteRule ^pqrs$ index.php?id=1328

RewriteRule ^riviera-del-magdalena-girardot-flandes$ index.php?id=1350

RewriteRule ^brochure$ index.php?id=1352

RewriteRule ^ibague-torre-kea$ index.php?id=1361

RewriteRule ^recorre-kea$ index.php?id=1364

RewriteRule ^constructora-nio-invirtio-mas-de-16-mil-millones-en-ibague$ index.php?id=1317&visitada=1396
RewriteRule ^torre-2:-con-bases-fuertes$ index.php?id=1398

RewriteRule ^felicitaciones$ index.php?id=1329

RewriteRule ^nuestra-vision$ index.php?id=1333

RewriteRule ^la-arquitectura-bioclimatica-es-la-nueva-apuesta-de-la-construccion$ index.php?id=1317&visitada=1348
RewriteRule ^renders$ index.php?id=1354

RewriteRule ^planos$ index.php?id=1365

RewriteRule ^mar-adentro-neiva$ index.php?id=1372

RewriteRule ^mar-adentro-neiva-$ index.php?id=1393

RewriteRule ^torre-1-avance-estructura-y-placa-piso-6$ index.php?id=1401

RewriteRule ^manual-del-propiedario$ index.php?id=1330

RewriteRule ^trayendo-el-mar-a-las-viviendas-en-neiva$ index.php?id=1317&visitada=1345
RewriteRule ^planos$ index.php?id=1355

RewriteRule ^entrega-torre-kea$ index.php?id=1366

RewriteRule ^valores$ index.php?id=1373

RewriteRule ^banner3$ index.php?id=1394

RewriteRule ^neiva-tendra-mar$ index.php?id=1317&visitada=1344
RewriteRule ^avance-de-obra$ index.php?id=1353

RewriteRule ^gobierno-corporativo$ index.php?id=1399

RewriteRule ^como-usar-la-prima-para-vivienda-propia$ index.php?id=1317&visitada=1346
RewriteRule ^aliados$ index.php?id=1400

RewriteRule ^noticias$ index.php?id=1317

RewriteRule ^la-constructora-nio-estuvo-presente-en-las-fiestas-de-san-pedro$ index.php?id=1317&visitada=1347
RewriteRule ^apto-modelo$ index.php?id=1358

RewriteRule ^politica-de-datos$ index.php?id=1395

RewriteRule ^preguntas-frecuentes$ index.php?id=1318

RewriteRule ^-y-el-proceso-crediticio$ index.php?id=1374

RewriteRule ^torres-residenciales-poniendole-altura-a-las-ciudades-del-mundo$ index.php?id=1317&visitada=1402
RewriteRule ^quiero-abonas-mis-cesantias-al-pago-de-la-cuota-inicial-que-debo-hacer$ index.php?id=1375

RewriteRule ^viviendas-protegidas-pensando-en-todas-las-edades$ index.php?id=1317&visitada=1403
RewriteRule ^contacto$ index.php?id=1315

RewriteRule ^que-debo-saber-sobre-los-creditos$ index.php?id=1376

RewriteRule ^prefabricados-de-concreto-para-innovacion-residencial$ index.php?id=1317&visitada=1404
RewriteRule ^como-se-realiza-el-proceso-de-escrituracion$ index.php?id=1377

RewriteRule ^-que-gastos-de-escrituracion-debo-tener-en-cuenta-en-el-momento-de-la-firma$ index.php?id=1378

RewriteRule ^-como-se-realiza-la-entrega-del-inmueble$ index.php?id=1379

RewriteRule ^desde-cuando-debo-pagar-la-administracion$ index.php?id=1380

RewriteRule ^en-que-zonas-de-la-ciudad-tienen-proyectos$ index.php?id=1381

RewriteRule ^que-tipo-de-vivienda-y-en-que-parte-del-pais-se-puede-utilizar-este-subsidio-a-la-tasa-mi-casa-ya$ index.php?id=1382

RewriteRule ^que-apartamentos-de-constructora-nio-aplican-para-el-subsidio-mi-casa-ya$ index.php?id=1383

RewriteRule ^que-requisitos-se-deben-cumplir-para-acceder-a-"mi-casa-ya-subsidio-a-la-taza-de-interes"-y-cual-es-el-tramite$ index.php?id=1384

RewriteRule ^cuantos-recursos-se-destinaran-para-impulsar-las-50000-nuevas-coberturas-de-subsidioa-las-tasas-de-interes-anunciadas-en"mi-casa-ya-subsidio-a-la-tasa-de-interes"$ index.php?id=1385

RewriteRule ^que-es-una-cuenta-afc$ index.php?id=1386

RewriteRule ^como-puedo-usarlas$ index.php?id=1387

RewriteRule ^como-puedo-abrir-una-afc$ index.php?id=1388

RewriteRule ^que-condiciones-tiene$ index.php?id=1389

RewriteRule ^los-beneficios-de-vip-y-vis$ index.php?id=1390

RewriteRule ^cuales-son-las-diferencias-entre-vivienda-vip-y-vis-en-colombia$ index.php?id=1391

<IfModule mod_deflate.c>
					<FilesMatch ".(js|jpg|jpeg|gif|png|css|txt|html)$">
					ExpiresActive on
					ExpiresDefault "access plus 1 month"
					SetOutputFilter DEFLATE
					</FilesMatch>
					</IfModule>